/* [data-logo-animation='text']:nth-child(2) {
  position: relative;
}

[data-logo-animation='text']:nth-child(2):before {
  // fading gradient on the left side
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: red;
  pointer-events: none;
} */
.image-credit-wrapper {
  width: 100%;
  height: 100%;
}

.image-credit {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 12px;
  text-align: left;
  z-index: 1;

  pointer-events: auto;
}

.hidden {
  display: none;
}
